.App {
  text-align: center;
}

body {
  background-color: lightgreen;
}

.container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px 20px 10px darkslategray;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  width: 60%;
  margin-left: 100px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.items{
  width:50%;
  height: 50%;
}